body {
	font-family: 'Open sans';
}

.nav-wrapper {
	padding: 0px;
}

.navbar, .navbar-inverse {
	padding: 5px 0;
	background-color: transparent;
	border: 0px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav>li {
	padding: 0 2px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FAFAFA;
	font-size: 14px;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FAFAFA;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navbar-inverse .navbar-nav>li>a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.navbar-inverse .navbar-header>a {
	color: #FAFAFA;
	text-transform: lowercase;
	font-family: 'Pacifico';
	font-size: 35px;
	transition-duration: 0.4s;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	border: 0;
	background-color: transparent;
}

.bg-wrap {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -100;
	top: 0;
	left: 0;
	padding-left: 1px;
	padding-right: 1px;
	max-height: 100%;
	overflow-y: hidden;
	background-image: url("../images/wksp1.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -50;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}

.content-wrap {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	z-index: -20;
}

.content-wrap .content {
	color: #FAFAFA;
	margin: auto;
	width: 50%;
	text-align: center;
}

.content-wrap .content a {
	color: #FAFAFA;
}

.content-wrap .content > h1 {
	text-transform: uppercase;
	font-family: 'Lato';
	font-size: 42px;
	letter-spacing: 2px;
}

.content .myBtn {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	border: 2px solid #FAFAFA;
	border-radius: 0px;
	background-color: transparent;
	margin: 4px 2px;
	transition-duration: 0.5s;
	padding: 6px 12px;
}

.content .myBtn:hover {
	background-color: white;
	color: #444;
}

.myBtn:focus {
	outline: none;
}

.about {
	background:url(../images/warren-wong-277326.jpg);
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
	width: 100%;
	margin-top: -60px;
	display: flex;
	flex-wrap: wrap;
}

.about .img-wrapper {
	text-align: center;
	display: inline-block;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	min-height: 80vh;
	flex-basis: 100%;
}

.about .img-wrapper .title {
	margin-top: 55vh;
}

.about .img-wrapper .title p {
	margin: 0;
	color: #FAFAFA;
}
.about .img-wrapper .title p:first-child {
	font-family: Pacifico, serif;
	font-style: normal;
	font-size: 20px;
	font-weight: 400;
}

.about .img-wrapper .title p:last-child {
	font-family: Lato;
	font-size: 42px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.about .abt-wrapper {
	background-color: #EDEEEF;
	min-height: 20vh;
	flex-basis: 100%;
}

.about .abt-wrapper .content {
	text-align: center;
	color: #2E2E2E;
	max-width: 65vw;
	margin-top: 50px;
	margin-bottom: 50px;
}

.about .abt-wrapper .content h1 {
	font-family: Lato;
	font-size: 50px;
	line-height: 50px;
	margin: 0px 0px 25px 0px;
}

.about .abt-wrapper .content p {
	font-size: 16px;
	line-height: 29px;
	margin-bottom: 0px;
}

.shutterz {
	background: url(../images/2curious-308530.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 45vh;
	display: flex;
	flex-wrap: wrap;
}

.shutterz .wrapper {
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	flex-basis: 100%;
}

.shutterz .wrapper .title {
	margin-top: 20vh;
}

.shutterz .wrapper .title p {
	margin: 0px;
	color: #FAFAFA;
	font-family: Pacifico;
	font-size: 40px;
}

.contact {
	min-height: 430px;
	background: #EDEEEF;
}

.contact .cont-wrapper {
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact .cont-wrapper .row {
	display: flex;
	flex-wrap: wrap;
}

.contact .cont-wrapper .row .outer {
	min-height: 330px;
	max-height: 330px;
	margin-bottom: 10px;
}

.contact .cont-wrapper .row .outer:nth-child(2) {
	display: table;
	text-align: center;
}

.contact .cont-wrapper .row .outer:nth-child(2) .inner {
	display: table-cell;
	vertical-align: middle;
}

.contact .cont-wrapper .row .outer .inner {
	text-align: center;
	height: 100%;
	padding: 15px;
	font-family: Lato;
	font-size: 16px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.contact .cont-wrapper .row .outer .inner:hover, .map:hover {
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
}

.contact .cont-wrapper .row .outer:nth-child(2) .inner {
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: #FAFAFA;
}

.contact .cont-wrapper .row .outer:nth-child(2) .inner span {
	font-size: 30px;
}

.contact .cont-wrapper .row .outer:last-child .inner {
	background-color: #FFFFFF;
	color: #2E2E2E;
}

.contact .cont-wrapper .row .outer .inner .contact-details .detail {
	padding: 10px 0px;
	display: table;
	font-family: Open sans;
	font-size: 14px;
}

.contact .cont-wrapper .row .outer .inner .contact-details .detail .icon,
.contact .cont-wrapper .row .outer .inner .contact-details .detail .info{
	display: table-cell;
	vertical-align: middle;
}

.contact .cont-wrapper .row .outer .inner .contact-details .detail .icon {
	padding: 0 10px;
	min-width: 45px;
	max-width: 50px;
}

.contact .cont-wrapper .row .outer .inner .contact-details .detail .info p {
	margin: 0;
}

.footer {
	background-color: #2E2E2E;
	min-height: 20vh;
	padding: 3vh 0;
}

.footer .footer-wrap {
	text-align: center;
	color: #FAFAFA;
	padding: 5px;
}

.footer .footer-wrap .title a {
	color: #FAFAFA;
	font-family: Pacifico;
	font-size: 40px;
	margin: 0;
	text-decoration: none;
}

.footer .footer-wrap .sitemap ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer .footer-wrap .sitemap ul li {
	display: inline;
	padding: 2px;
}

.footer .footer-wrap .sitemap ul li a,
.footer .footer-wrap .social-tray a {
	text-decoration: none;
	color: #FAFAFA;
	text-transform: uppercase;
	font-family: Lato;
}

.footer .footer-wrap .sitemap ul li a:hover {
	color: #808080;
}

.footer .footer-wrap .social-tray,
.footer .footer-wrap .note {
	padding: 5px 0;
}

.footer .footer-wrap .social-tray i {
	padding: 0 2px;
}

.footer .footer-wrap .note p {
	margin: 0;
	font-size: 12px;
	color: #808080;
}

.fa-heart {
	color: #FF3333;
}

#return-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0,0,0,0.5);
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-top:hover i {
	top:5px;
}

#return-top i {
	color: #FAFAFA;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}