<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col bio-avatar">
        <img src="/assets/img/abhishek.JPG" alt="Picture of abhishek" class="bio-image" />
      </div>

      <div class="footer-col bio-copy">
        <span class="bio-lead">Hello,</span>
        <p>{{- site.description | escape -}}</p>
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>
