---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          {% if post.link %}
            <a class="post-link" target="_blank" href="{{ post.link }}">{{ post.title | escape }}</a>
          {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          {% endif %}
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- if site.posts.size > 5 -%}
      <p class="rss-subscribe">see <a href="{{ "/posts" | relative_url }}">all posts</a></p>
    {% else %}
      <p class="rss-subscribe">subscribe <a href="{{ "/posts" | relative_url }}">via RSS</a></p>
    {%- endif -%}
  {%- endif -%}

  {%- if site.data.talks.size > 0 -%}
    <h2 class="post-list-heading">Recent Talks / Interviews</h2>
    <ul class="talks-list">
      {% for talk in site.data.talks %}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="talks-meta">{{ talk.date | date: date_format }}</span>

          <h3>
            <a class="talks-link" target="_blank" href="{{ talk.url }}">{{ talk.title }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}

  {%- if site.data.press.size > 0 -%}
    <h2 class="post-list-heading">Recent Press</h2>
    <ul class="press-list">
      {% for talk in site.data.press %}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="press-meta">{{ talk.date | date: date_format }}</span>

          <h3>
            <a class="press-link" target="_blank" href="{{ talk.url }}">{{ talk.title }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {%- endif -%}

  {%- if site.data.projects.size > 0 -%}
    <h2 class="post-list-heading">Open Source</h2>
    <ul class="project-list">
      {% for proj in site.data.projects limit:5 %}
        <li>
          <h3>
            <a class="project-link" target="_blank" href="{{ proj.url }}">{{ proj.title }}</a> 
          </h3>

          <span class="project-meta">{{ proj.desc }}</span>
        </li>
      {% endfor %}
    </ul>

    {%- if site.data.projects.size > 5 -%}
      <p class="rss-subscribe">check out my <a href="https://www.github.com/apiedy">GitHub profile</a> for more contributions</p>
    {%- endif -%}
  {%- endif -%}
</div>
